/* develope By Package +201002241591  3lwaaa@gmail.com - https://wa.me/201002241591 */
.header-block--nav-wrapper {
    padding: 0;
    --color-text: #5c6d6b;
    margin: 0;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid var(--color-grey-border);
}

.btn--grey {
    color: white;
    background-color: #f5f7f9;
    background-color: #a29d8d;
}

.store-feature__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80px;
    height: 80px;
    position: relative;
    font-size: var(--font-xxxlg);
    color: #5c6d6b;
    border-radius: 30%;
    overflow: hidden;
    margin: 0 auto 15px;
}

section.home-block.home-block--main-slider:nth-of-type(3) .hero.no-p .container {
    max-width: 100%;
    width: 100%;
    padding: 0!important;
    margin: -3px 0!important
}

.splide--main-slider .splide__track,.splide--radial {
    border-radius: 0;
}

section.home-block.home-block--fixed-banner:nth-of-type(-n+4) .container,body > section:nth-child(n+19).home-block.home-block--fixed-banner .container {
    max-width: unset;
    padding: 0;
    border-radius: 0;
    margin: 0;
}

.home-block {
    position: relative;
    padding: 0;
}

@media (max-width: 780px) {
    .home-block:not(.home-block--bg):not(.home-block--main-slider) {
        padding: 0 0 8px 0;
    }
}

.banner--fixed {
    border-radius: 0px;
}

@media (min-width: 780px) {
    .home-block {
        position: relative;
        padding: 0 0 15px;
    }

    .hero>.container {
        padding: unset
    }

    .home-block--fixed-banner>.container {
        padding: unset
    }

    .home-block--square-images {
        display: block!important;
        margin: unset!important;
    }

    .home-block--square-images>.container {
        padding: 0!important;
        display: block!important;
        margin: unset!important;
        margin: auto!important;
    }

    .home-block--square-images>.container>.row {
        padding: 0!important;
        margin: unset!important;
    }

    .home-block--square-images>.container>.row {
        flex-direction: row;
        flex-wrap: unset;
        gap: 5px;
    }

    .home-block--square-images>.container>.row>.col-md-4 {
        padding: unset!important;
        flex: unset;
        max-width: unset;
    }

    .home-block--square-images>.container>.row>.col-md-4>a {
        margin: unset;
        border-radius: unset;
        background: unset!important;
    }

    .home-block--square-images figcaption {
        padding: unset!important;
    }

    .home-block--square-images figcaption h2 {
        font-size: 0.8rem!important;
        background: #eee;
        color: #000;
        border: 1px solid #000;
        padding: 2px 5px;
        opacity: 0.7;
        margin-bottom: 5px;
    }

    .home-block--square-images figcaption:after {
        display: none!important;
    }

    .banner--square figure {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: unset;
    }

    .banner--square figure:before {
        display: none
    }

    .banner--square figure img {
        position: relative;
    }
}

@media (max-width: 991px) {
    .home-block--square-images {
        padding: 5px!important;
        display: block!important;
        margin: unset!important;
        padding-top: unset!important;
    }

    .home-block--square-images>.container {
        padding: 0!important;
        display: block!important;
        margin: unset!important;
    }

    .home-block--square-images>.container>.row {
        padding: 0!important;
        margin: unset!important;
    }

    .home-block--square-images>.container>.row {
        flex-direction: row;
        flex-wrap: unset;
        gap: 5px;
    }

    .home-block--square-images>.container>.row>.col-md-4 {
        padding: unset!important;
    }

    .home-block--square-images>.container>.row>.col-md-4>a {
        margin: unset;
        border-radius: unset;
        background: unset!important;
    }

    .home-block--square-images figcaption {
        padding: unset!important;
    }

    .home-block--square-images figcaption h2 {
        font-size: 0.8rem!important;
        background: #eee;
        color: #000;
        border: 1px solid #000;
        padding: 2px 5px;
        opacity: 0.7;
        margin-bottom: 5px;
    }

    .home-block--square-images figcaption:after {
        display: none!important;
    }
}

figure.banner-effect-1:before {
    display: none;
}

@media (max-width: 991px) {
    .home-block--slide-products .splide__slide {
        padding: unset;
        width: 40vw!important;
    }

    .product-block .product-block__info {
        padding: 0 5px;
        text-align: right;
    }

    .product-block .product-block__info * {
        line-height: 1.2;
        /*! margin-top: -5px; */
    }

    .price-wrapper {
        line-height: 0.8!important;
    }

    .product-block__info .product-title * {
        display: block;
        line-height: 1.35!important;
    }

    .product-block .product-block__info h2 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: normal;
        width: 100%;
        color: #000!important;
        font-size: 0.75rem
    }
}
